<div class= "group-form">
  <%= form_for @group do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :status %>
    <%= f.radio_button :status, 0, checked: true %>
    <%= f.label "Active" %>

    <%= f.radio_button :status, 1 %>
    <%= f.label "Inactive" %>

    <%= f.submit 'Submit', :class => 'button-3', :id => 'submit-group' %><%= link_to 'Cancel', root_path, :class => 'button-2', :id => 'cancel-group' %><br>
  <% end %>
</div>
