<div class="wrapper", id="group-expenses-page">
<% if @group.users.include?(current_user) %>

<h1 data-groupId="<%= @group.id %>", id="group-name"><%= @group.name%></h1>

<section class="next-previous">
  <!-- next/previous buttons -->
  <a href="#" class="js-more btn btn-primary", data-id="<%= @group.id %>", id="previous-button">Previous Group</a>
  <a href="#" class="js-more btn btn-primary", data-id="<%= @group.id %>", id="next-button">Next Group</a><br>
</section>
<br>
  <!-- <%= link_to("Group Expenses", group_expenses_path(@group.id), :class => "button", :id => "load_expenses")%> -->

  <div class="exp-container">
    <%= render 'expenses/table'%>
  </div>

  <div class = "wrapper" id="expense-form-container">
    <h4>Add New Expense</h4>
    <%= render 'expenses/form' %>
  </div>

  <!--  <%= render :partial => 'expenses/summary', :locals => {:group => @group} %> -->

<!-- <div class = "wrapper">
    <h3><strong>Total Amount: </strong>
      <div class="total"><%= number_to_currency(@group.total_expenses)%></div>
    </h3>
  <br> -->

  <% else %>
  <h3 class = "wrapper"> To View Summary you need to be a member of this group</h3>
  <div class = "wrapper">
    <%= form_tag(memberships_path) do %>
      <%= hidden_field_tag 'id', @group.id %>
      <%= submit_tag "Join Group", class: 'button-1' %>
    <% end %>
  </div>
  <% end %>
  <br>
</div>
