<div class="wrapper", id="group-expenses-page">
<% if @group.users.include?(current_user) %>

<h1 data-groupId="<%= @group.id %>", id="group-name"><%= @group.name%></h1>

<section class="next-previous">
  <!-- next/previous buttons -->
  <a href="#" class="js-more button", data-groupid="<%= @group.id %>", id="previous-button">Previous Group</a>
  <a href="#" class="js-more button", data-groupid="<%= @group.id %>", id="next-button">Next Group</a><br>
</section>
<br>
  <!-- <%= link_to("Group Expenses", group_expenses_path(@group.id), :class => "button", :id => "load_expenses")%> -->

  <div class="exp-container">
    <%= render 'expenses/table'%>
  </div>

  <div class="total">
  </div><br>

  <div class="expense-form-container">
    <%= render 'expenses/form' %>
  </div><br>

  <div class="edit-expense">
  </div><br>

  <!-- <h3><strong>Total Amount: </strong>
      <div class="total_amount", data-groupId="<%= @group.id %>", data-total="<%= @group.total_expenses %>"><%= number_to_currency(@group.total_expenses)%></div>
    </h3>
  <br> -->
  <!-- <a href="#" class="group-summary button-2", data-groupid="<%= @group.id %>", id="group-summary">Summary</a>-->


  <!-- <button onclick="showGroupSummary()">Summary</button> -->
  <button id="group-summary">Group Summary</button>

  <div class="group-summary", id="hidden">
    <%= render :partial => 'expenses/summary', :locals => {:group => @group} %>
  </div>
  <!--  <%= render :partial => 'expenses/summary', :locals => {:group => @group} %> -->


  <% else %>
  <h3 class = "wrapper"> To View Summary you need to be a member of this group</h3>
  <div class = "wrapper">
    <%= form_tag(memberships_path) do %>
      <%= hidden_field_tag 'id', @group.id %>
      <%= submit_tag "Join Group", class: 'button-1' %>
    <% end %>
  </div>
  <% end %>
  <br>
</div>
