<% if current_user.groups.empty? %>
<div class="wrapper">
  <%= image_tag "dollar.jpg", :height => '300px', :class => "dollar_image"%>
  <h4>Hi, <%= current_user.username %></h4><br>
  <h4>Welcome to Abacus. Please create your first expense group.</h4>
  <!-- <div class="wrapper">
    <%= link_to "Create A New Group", new_group_path, :class => 'button-1', :id => "new_group_form"  %><br>
  </div> -->
  <div class="group_form">
  </div>
</div>
<% else %>
  <h4>Hi, <%= current_user.username %></h4><br>
  <!-- <div class="wrapper">
    <%= link_to "Create A New Group", new_group_path, :class => 'button-1', :id => "new_group_form"  %><br>
  </div> -->
  <div class="group_form">
  </div>
  <h3>Here Are Your Most Recent Groups:</h3>
    <%= render partial: 'groups/table', locals: {groups: @groups.active_groups.recent}%>
  <br>

  <% if !current_user.groups.inactive_groups.empty? %>
  <h3>Inactive groups:</h3>
    <%= render partial: 'groups/table', locals: {groups: @groups.inactive_groups.recent }%>
  <% end %>
  <br><br>
<% end %>
